html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
        font-size: 62.5%; /* 1 rem = 10px (since 10px is 62.5% of the default font size which is usually 16px) */
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.main{
    display:flex;
}
.container{
    font-size:14px;
}
table{
    font-size:14px;
}
.dataTables_wrapper {
    font-size: 14px;
}

.form-control {
    width: 196px;
    height: 42px;
    font-size: 14px;
    border-radius:4px;
}
.button__medium {
    height: 42px;
    font-size: 14px;
    border-radius: 4px;
    min-width:124px;
    
}
.container__row{
    display:flex;
}

.dataTables_length, .dataTables_wrapper {
    font-size: 15px;
}

    .dataTables_length select, .dataTables_wrapper select, .dataTables_length input, .dataTables_wrapper input {
        background-color: #f9f9f9;
        border: 1px solid #999;
        border-radius: 4px;
        height: 3rem;
        line-height: 2;
        font-size: 1.8rem;
        color: #333;
    }

    .dataTables_length .dataTables_length, .dataTables_wrapper .dataTables_length, .dataTables_length .dataTables_filter, .dataTables_wrapper .dataTables_filter {
        margin-top: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
        display: inline-flex;
    }

.paginate_button {
    min-width: 4rem;
    display: inline-block;
    text-align: center;
    padding: 1rem 1.6rem;
    margin-top: -1rem;
    border: 2px solid lightblue;
}

    .paginate_button:not(.previous) {
        border-left: none;
    }

    .paginate_button.previous {
        border-radius: 8px 0 0 8px;
        min-width: 7rem;
    }

    .paginate_button.next {
        border-radius: 0 8px 8px 0;
        min-width: 7rem;
    }

    .paginate_button:hover {
        cursor: pointer;
        background-color: #eee;
        text-decoration: none;
    }
.nav_bar_container{
    display:flex;
}
i{
    font-size:16px;
}
i:hover{
    opacity:0.5;
    cursor:pointer;
}
.paginate_button{
    font-size:14px !important;
}