.search__container
{
   
}
.nav_bar_container {
    left: 78px;
    width: calc(100% - 78px);
    margin: 32px;
    background: #dcdcdc;
    padding: 32px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    justify-content: space-between;
}
.select__container{
    margin-right:32px;
}
.search__container{
    align-items:end;
    display:flex;
}
p {
    word-break: break-word; /* deprecated */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.paginate_button {
    font-size: 14px !important;
}